  /* text color */
  .text-teal-green {
  	color: $teal-green;
  }

  .text-teal-dark {
  	color: $olive-green;
  }

  .text-light-green {
  	color: $light-green;
  }

  /* text color - end */

  /* bg */
  .bg-teal-green {
  	background-color: $teal-green;
  }

  .bg-teal-dark {
  	background-color: $olive-green;
  }

  .bg-light-green {
  	background-color: $light-green;
  }

  /* bg - end */

  /* borders */
  .border-teal-green {
  	border: 1px solid $teal-green;
  }

  .border-teal-dark {
  	border: 1px solid $olive-green;
  }

  .border-light-green {
  	border: 1px solid $light-green;
  }

  /* borders - end */

  /* colors - end */